.bak
.curseclient
/.fabric/
/.mixin.out/
/crash-reports/
/downloads/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/xaero/
/XaeroWaypoints_BACKUP*/
/fancymenu_data/
command_history.txt
emi.json
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
user-prefs.json
